#messages {
  border: 2px solid lightgrey;
  overflow-y: scroll;
  max-height: 2.5em;
  background-color: white;
}

#messages > * {
  margin: 4px;
  padding: 0.5 em;
  background-color: #EEE;
}

.card_frame {
  border-radius: 3mm;
  border: 1px solid grey;
  background-color: white;
  margin: 5mm;
}

.button {
  border-radius: 3px;
  border: outset medium;
  padding: 2px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  border-style: inset;
}

@media print {
  body > :not(#drawing) {
    display: none;
  }
}
